@model HomeAutomation.DataAccess.Entity.Component

@{
    ViewBag.Title = "Detail";
}

<h2>Details</h2>

<div>
    <span>Name :@Model.Name</span><br />
    <span>Description :@Model.Description</span><br />
    <span>IP Adress :@Model.Device.IPAddress</span><br />
    <span>Type :@Model.Type.Category</span><br />
    <span>Compression :@Model.Compression</span><br />
    <span>Interval :@Model.Interval</span><br />
    <span>MinThreshold :@Model.MinThreshold</span><br />
    <span>MaxThreshold :@Model.MaxThreshold</span><br />

    <span>Current Value :@Model.CurrentValue</span><br />
    <span>Last Contact :@Model.LastContact</span><br />
    @if (Model.Options != null) {
        foreach (var key in @Model.Options.Keys) {
            if (key == "Password") {
        <span>@key : *************</span><br />
            } else { 
        <span>@key :@Model.Options[key]</span><br />
            }
        }
    }

</div>


<div id="chart_div" style="width: 900px; height: 500px;"></div>

@section PageScript{
    <script type="text/javascript">
        google.load("visualization", "1", { packages: ["corechart"] });
        google.setOnLoadCallback(drawChart);
        function drawChart() {

            var jsonData = $.ajax({
                url: "/Component/GetDataTableJson/@Model.Id",
                dataType: "json",
                async: false
            }).responseText;

            // Create our data table out of JSON data loaded from server.
            var data = new google.visualization.DataTable(jsonData);

            var options = {
                title: 'History'
            };

            // Instantiate and draw our chart, passing in some options.
            var chart =
        new google.visualization.LineChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
}